.place__title {
    margin: 0;
    font-weight: 700;
    font-size: 33px;
    line-height: 44px; 
}
@media screen and (max-width: 550px) {
    .place__title  {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    }
}