.places {
    display: grid;
    grid-template: auto / 1fr 1fr;
    gap: 0;
    background-color: #f2f2f2;
}
@media screen and (max-width: 550px) {
    .places  {
    grid-template: auto / 1fr;
    }
}