.place__image {
    box-sizing: border-box;
    width: 100%;
    object-fit: cover;
    height: calc(50vw/1.2);
    max-height: 533px;
    transition: 2s;
}

.place__image:hover {
    transform: scale(.8);
}

@media screen and (max-width: 550px) {
    .place__image {
        min-height: 280px;
    }
    .place__image:nth-of-type(3){
        order: 5;
    }
}