.header__complaint {
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    text-decoration-line: none;
    color: #010101;
    margin-right: 20px;
}

.header__complaint:hover {
    opacity: .5;
}

@media screen and (max-width:768px) {
    .header__complaint {
        margin-right: 10px;
    }
}

@media screen and (max-width:320px) {
    .header__complaint {
        margin-right: 10px;
        font-size: 12px;
        line-height: 15px;
    }
}