.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 69px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width:550px) {
    .header {
        align-items: center;
    }
    }