.content {
    display: grid;
    gap: 134px;
}
@media screen and (max-width: 890px) {
    .content {
        gap: 80px;
    }
}
@media screen and (max-width: 550px) {
        .content {
            gap: 50px;
    }
}