.header__link {
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    text-decoration-line: none;
    color: #000;
    margin-right: 39px;
}

.header__link:hover {
    opacity: .5;
    transform: scale(1.2);
}

@media screen and (max-width:550px) {
    .header__link {
        margin-right: 10px;
    }
}

@media screen and (max-width:320px) {
    .header__link {
        margin-right: 10px;
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 5px;
    }
}