.footer__copyright {
    font-size: 36px;
    font-weight: 700;
    line-height: 28px;
    text-decoration-line: none;
    color: #000;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:768px) {
    .footer__copyright {
        font-size: 28px;
    }
}

@media screen and (max-width:320px) {
    .footer__copyright {
        font-size: 20px;
    }
}